.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.btn-cont {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}
button {
  min-width: 80px;
}
.list {
  display: flex;
  flex-direction: row;
  max-width: 780px;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: auto;
  gap: 8px;
  justify-content: center;
}
.elem {
  max-width: 140px;
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}